* {
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}

h2 {
  text-align: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.custom-button {
  width: 100%;
}

.main {
  width: 50%;
  background-color: #eaf4f7;
  margin: 0 auto;
  padding: 50px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #d7e4e8;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

/* Modal Styles */

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center; */
  display: grid;
}

.modal {
  background: rgba(0, 0, 0, 0.3);
}

.modal-dialog h1 {
  text-align: left;
  padding-left: 20px;
}

.modal-close {
  float: right;
  border: 0;
  background-color: red;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
}

.pokemon-image {
  height: 150px;
}

.div-flex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 20px;
}

.flex-child {
  padding-right: 200px;
}

/* Hide items that don't match the search criteria */
.hide {
  display: none;
}

@media all and (max-width: 500px) {
  .custom-button {
    font-size: 13px;
    width: 100%;
    margin: 20px 0px;
  }

  .flex-child {
    padding-right: 20px;
  }
}
